

.box-side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.header-link {
  margin: 100px 200px;
}

.table-test td{
  padding: 0 50px;
}
.serviços-link {
  margin: 50px 100px;
}

.descricao {
  margin: 50px 100px;
}

.image-servicos {
  margin: 50px 100px;
}

.servicos-p {
  margin: 50px 100px;
}

.espaco{
margin: 5%;
}

.depoimentos-image {
  margin: 50px 100px;
}

.depoimentos-p {
  margin: 50px 100px;
}

.footnote-p {
  margin: 50px 200px;
}

#page-header {
  background-color: rgb(255, 238, 204);
  margin: 0px 0px;
  padding: 0px 0px;
  border-bottom: 3px;
  border-color: black;
}

#test{
  background-color: rgb(255, 221, 204);
  margin: 0px;
  padding: 500px 0px;
}

#carrossel {
  background-color: rgb(255, 221, 204);
  margin: 0px 0px;
  padding: 0px 0px;
  border-top: 3px;
  border-color: black;
}

#serviços {
  background-color: rgb(255, 204, 204);
}

#depoimentos {
  background-color: rgb(255, 204, 204);
}

#page-footnote {
  background-color: rgb(254, 187, 204);
}

#title {
  text-align: center;
  margin: 0px;
}

#subtitle {
  text-align: center;
}

#first-image-carousel {
  text-align: center;
}

#logo {
  margin: 20px 100px 20px 20px;
}
