.box-side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-link {
  margin-right: 200px;
  margin-left: 200px;
}

.footnote-p {
  margin-right: 200px;
  margin-left: 200px;
}
.table-test td {
  padding: 0 50px;
}
.serviços-link {
  margin: 50px 100px;
}

.descricao {
  margin: 50px 100px;
}

.image-servicos {
  margin: 50px 100px;
}

.servicos-p {
  margin: 50px 100px;
}

.depoimentos-image {
  margin: 50px 100px;
  border-radius: 50%;
}

.depoimentos-p {
  margin: 50px 100px;
}

.prev {
  margin-right: 50px;
}

.next {
  margin-left: 50px;
}

#page-header {
  background-color: rgb(255, 238, 204);
  height: 75px;
}

#carrossel {
  background-color: rgb(255, 221, 204);
}

#serviços {
  background-color: rgb(255, 204, 204);
}

#depoimentos {
  background-color: rgb(255, 204, 204);
}

#page-footnote {
  background-color: rgb(254, 187, 204);
  height: 75px;
}

#title {
  text-align: center;
  margin: 0px;
}

#subtitle {
  text-align: center;
}

#first-image-carousel {
  text-align: center;
}

